SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=mysql
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/tacocloud?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=tacocloud
SPRING_DATASOURCE_PASSWORD=tacocloud
SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
TACOCLOUD_MESSAGING_ENABLED=true
KAFKA_LISTENER_AUTO_STARTUP=true
JWT_ISSUER_URI=http://localhost:9000
